.footer {
  background: #39a04a;
  padding: 15px 30px;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}